body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: monospace;
}

.portrait {
  width: 600px;
  height: 600px;
  background: url("yourphoto.jpg") center/cover no-repeat;
  -webkit-mask-image: url("Messenger_creation_2B1583AE-98F5-492F-AA42-D4312F034567.jpeg");
  -webkit-mask-size: cover;
  mask-image: url("yourphoto.jpg");
  mask-size: cover;
}

.text {
  font-size: 10px;
  line-height: 10px;
  word-wrap: break-word;
  opacity: 0.9;
}

